<nav>
  <div class="site-title">
    <a href="/">
      <h1>Sistema Hospitalario</h1>
    </a>
    <p>Sitio Oficial Sistema Hospitalario</p>
  </div>
  <ul>
    <li><a href="/auth/cerrar-sesion">Cerrar Sesión</a></li>
  </ul>
</nav>
