<html lang="en">
<%- include("./parciales/cabecera.ejs") %>

  <body>
    <%- include("./parciales/barra.ejs") %>

    <h1>Gestion Administrador</h1>
    <ul>
      <li><a href="/administrador/gestion-pacientes">Gestionar Pacientes</a></li>
      <li><a href="/administrador/gestion-medicos">Gestionar Medicos</a></li>
      <li><a href="/administrador/gestion-especialidades">Gestionar Especialidades</a></li>
      <li><a href="/administrador/gestion-seguros">Gestionar Seguros</a></li>
      <li><a href="/administrador/gestion-medicamentos">Gestionar Medicamentos</a></li>
    </ul>
    <%- include("./parciales/fondo.ejs") %>
  </body>

</html>
